<div class="d-flex flex-column align-items-center w-50 mx-auto mt-5">
    <h3 class="text-info">SIGN UP</h3>
    <hr class="bg-dark w-50">
    <form #registerForm="ngForm" (ngSubmit)="register()">
        <div class="row mb-2">
            <div class="col-2 labelsDiv">
                <label class="form-label">Username</label>
                <label class="form-label">Name</label>
                <label class="form-label">Surname</label>
                <label class="form-label">Password</label>
                <label class="form-label">RePassword</label>
                <label class="form-label">Role</label>
            </div>
            <div class="col-10 inputsDiv">
                <input name="username" class="form-control form-control-sm" type="text" [(ngModel)]="newUser.username">
                <input name="name" class="form-control form-control-sm" type="text" [(ngModel)]="newUser.name">
                <input name="surname" class="form-control form-control-sm" type="text" [(ngModel)]="newUser.surname">
                <input name="password" class="form-control form-control-sm" type="password" [(ngModel)]="newUser.password">
                <input name="rePassword" class="form-control form-control-sm" type="password" [(ngModel)]="newUser.rePassword">
                <input name="role" class="form-control form-control-sm" type="text" [(ngModel)]="newUser.role">
                <div class="my-4 d-flex">
                    <button class="btn btn-info me-2">Register</button> <button class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>